{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5 class="text-center">Coach Of MMA:</h5>
            <hr>
            <p>Name: {{coach.first_name}} {{coach.last_name}}</p>
            <p>Phone: {{coach.phone}}</p>
        </div>
    </div>

    <div class="col-md">

    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5 class="text-center">Total Members:</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px"> {{total_members}} </h1>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>MEMBERS: </h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Number Phone</th>
                        <th>Date</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for member in members %}
                    <tr>
                        <td>{{member.id}}</td>
                        <td>{{member.first_name}}</td>
                        <td>{{member.last_name}}</td>
                        <td>{{member.age}}</td>
                        <td>{{member.number_phone}}</td>
                        <td>{{member.start_at}}</td>
                        <td>
                            <a class="btn btn-sm btn-primary " href="{% url 'detail' member.id %}">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}